<ul>
  <% @contacts.each do |contact| %>
    <li>
      <%= contact.title %>
      <ul>
        <% contact.emails.each do |email| %>
          <li><%= email %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>